body {
    margin: 12em;
}

h1 {
   font-size: 25px;
   color: white;
   text-align: center;
   font-weight: 100;
}

.Logo {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}

hr {
    color: white;
    width: 220px;
}

ul{
    text-align: center;
}


li {
    display: inline-block;
    padding: 20px;
}

p{
    color: white;
    text-align: center;
    margin: 5em;
}

a{
    color: blue;
    text-decoration: none;
    font-size: 20px;
}

 